@import "../../node_modules/antd/dist/antd.css";

.login-div {
  max-width: 40%;
  margin: 0 auto;
}

.login-form-forgot {
  float: right;
}
.ant-col-rtl .login-form-forgot {
  float: left;
}
.login-form-button {
  width: 100%;
}
.invalid-text {
  color: red;
}
